<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    {% if not category_name_url %}
			<p>The specified category does not exist!</p>
		{% else %}
        	<form class="span6" id="page_form" method="post" action="/rango/category/{{category_name_url}}/add_page/">
       	{% csrf_token %}
            	{% for hidden in form.hidden_fields %}
            	{{ hidden }}
            	{% endfor %}

            	{% for field in form.visible_fields %}
            	{{ field.errors }}<br/>
            	{{ field.help_text}}
            	{{ field }}
            	{% endfor %}
            	<br/>
            	<input class="btn btn-primary" type="submit" name="submit" value="Create Page"/>
        	</form>
    {% endif %}
</body>
</html>